@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-1: #555;
    --color-light-theme: #f8f9fa;
    --color-dark-theme: #333;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-light-theme);
    transition: all;
    transition-duration: 0.3s;
}