@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-1: #555;
    --color-primary-2: #f8f9fa;
    --color-search-icon: #75899e;
    --color-search-modal: #e1e1e1;
    /* --color-light-theme: #f8f9fa; */
    /* --color-dark-theme: #333; */
}

/* Light theme (default) */
:root {
    --color-primary-1: #555;
    --color-primary-2: #f8f9fa;
    --color-search-icon: #75899e;
    --color-search-modal: #e1e1e1;
    --color-category-menu: #ecfeff;
}

/* Dark theme */
.dark {
    --color-primary-1: #f8f9fa;
    --color-primary-2: #555;
    --color-search-icon: #e3f1ff;
    --color-search-modal: #717274;
    --color-category-menu: #446067;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-primary-2);
    color: var(--color-primary-1);
    transition: all;
    transition-duration: 0.3s;
}

/* Changing browser default styles */
* {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/* Scroll */
.scroll-hidden {
  overflow: auto;
  -ms-overflow-style: none;      
  scrollbar-width: none;        
}
.scroll-hidden::-webkit-scrollbar {
  display: none;                
}